{% extends "base.html" %}

{% block content %}
<div class="row g-2">
    <div class="col-12">
        <h1 style="color: {info[1]};" align="center">Жди нас, {planet_name}!</h1>
    </div>

    <div class="col-7">
    <img src="{info[0]}" alt="Марс"
        style="margin-left: 10%">
    </div>

    <div class="col-5 align-self-center">
    <div class="alert alert-primary" role="alert">
        {info[2]}
    </div>
    <div class="alert alert-success" role="alert">
        {info[3]}
    </div>
    <div class="alert alert-danger" role="alert">
        {info[4]}
    </div>
    <div class="alert alert-dark" role="alert">
        {info[5]}
    </div>
    </div>
</div>
{% endblock %}